<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy</title>

    <link rel="icon" href="/logo-icon.png" />
    <link rel="stylesheet" href="/css/stylesheet.css" />
    <link rel="stylesheet" href="/css/page-loading.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link href = "https://fonts.googleapis.com/css2? family = Nunito: wght @ 400; 600; 800 & display = swap" rel = "stylesheet">
  </head>
  <body>
    <div id="page-landing">
      <div id="container">
        <header>
          <img  class="animationUp" src="/logo.svg" alt="logomarca happy" id="logomarca" />
          <div class="local animationUp ">
            <strong>Goias</strong>
            <p>Goiás</p>
          </div>
        </header>

        <main>
          <h1  class="animationUp" >Leve felicidade para o mundo</h1>

          <section class="secao">
            <p  class="animationUp" id="p">visite um orfanato e mude o dia de muitas crianças</p>
            <a href="/orphanate" title="clicke" id="Mapseta"  class="animationUp"><img src="/arrow.svg" alt="direciona para o mapa"/></a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
