<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Localizações</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
 crossorigin=""></script>

    <link rel="icon" href="/logo-icon.png" />
    <link rel="stylesheet" href="/css/stylesheet.css" />
    <link rel="stylesheet" href="/css/criar-orfanato.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link
      href="https://fonts.googleapis.com/css2? family = Nunito: wght @ 400; 600; 800 & display = swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="page-orphaneges">
      <aside class="animation-right">
        <header>
          <img src="/map-marker.svg" alt="happy logomarca" />

          <h2>escolha um orfanato no mapa</h2>

          <p>muitas crianças estão esperando sua visita :)</p>
         
        </header>
         <footer>
            <strong>Goiás</strong>
            <p>Goiania</p>
          </footer>
      </aside>
      <div id="mapid" class="animation-apariçao"></div>
        <div class="orphaneges">
           {{#each orphaneges}}
      <span hidden
      data-id="{{this.id}}"
      data-name="{{this.name}}"
      data-lat="{{this.lat}}"
      data-lng="{{this.lng}}"
      ></span>
      {{/each}}
      </div>
     

      <a href="criar-orfanato" class="create-orphanege" title="cadastrar um orfanato"><img src="/plus.svg" alt="criar orfanato"></a>
    </div>
    <script src="/scripts/mapa.js"></script>
  </body>
</html>
